{% extends '../__base.html' %}

{% block body %}
<form class="custom-form element" action="{% url 'pet-create' %}" method="post" enctype="multipart/form-data">


<div class="form-group col-2">
  <label for="{{ form.name.id_for_label }}" class="form-control-label">{{ form.name.label }}
  {{ form.name }}
  </label>
  <label for="{{ form.type_animal.id_for_label }}" class="form-control-label">{{ form.type_animal.label }}
  {{ form.type_animal }}
  </label>
  <label for="{{ form.breed.id_for_label }}" class="form-control-label">{{ form.breed.label }}
  {{ form.breed }}
  </label>
  <label for="{{ form.name.id_for_label }}" class="form-control-label">{{ form.name.label }}
  {{ form.name }}
  </label>
   <label for="{{ form.name.id_for_label }}" class="form-control-label">{{ form.name.label }}
  {{ form.name }}
  </label>
  <label for="{{ form.color.id_for_label }}" class="form-control-label">{{ form.color.label }}
  {% for color in form.color %}
  <div class="{{color.id_for_label}}">
  {{ color }}
  </div>
  {% endfor %}
  </label>
  <div class="form-control-feedback">{{ field.errors }}</div>
</div>

  <div class="form-group">
    <small class="text-muted"> * Arrastra el marcador para indicar la ubicación exacta</small>
    <div id="map" style="height:400px; width:100%;"></div>
    <input type="submit" class="btn btn-primary" value="Siguiente">
    <a href="{% url 'publication-list' %}" class="btn btn-link">Volver sin guardar</a>
  </div>
</form>


<script>
function initMap() {
    var uluru = new google.maps.LatLng(42.661073,-8.113604);
    var map = new google.maps.Map(document.getElementById('map'), {
      center: uluru,
      zoom: 15,
    });
    var marker = new google.maps.Marker({
    position: uluru,
    map: map,
    draggable: true,
    animation: google.maps.Animation.DROP,
    });
    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        marker.setPosition(pos);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, marker, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, marker, map.getCenter());
    }
    marker.addListener('position_changed', function() {
      var new_pos = marker.getPosition();
      document.getElementById('id_location').value = new_pos.lat()+','+new_pos.lng();
});
}

function handleLocationError(browserHasGeolocation, marker, pos) {
  document.getElementById('id_location').value = pos.lat+','+pos.lng;
  marker.setPosition(pos);
  marker.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}
</script>
{% endblock %}
{% block extra %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
{% endblock %}
