{% extends '../__base.html' %}
{% load static %}

{% block body %}
<form class="custom-form element" action="{% url 'pet-create' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-group col-2">
  <label for="{{ form.name.id_for_label }}" class="form-control-label">{{ form.name.label }}
  {{ form.name }}
  </label>
  <label for="{{ form.type_animal.id_for_label }}" class="form-control-label">{{ form.type_animal.label }}
  {{ form.type_animal }}
  </label>
  <label for="{{ form.breed.id_for_label }}" class="form-control-label">{{ form.breed.label }}
  {{ form.breed }}
  </label>
  <label for="{{ form.description.id_for_label }}" class="form-control-label">{{ form.description.label }}
  {{ form.description }}
  </label>
   <label for="{{ form.picture.id_for_label }}" class="form-control-label">{{ form.picture.label }}
  {{ form.picture }}
  </label>
  <label for="{{ form.color.id_for_label }}" class="form-control-label">
    <div class="text-left">
      {{ form.color.label }}
    </div>
  {% for color in form.color %}
  <div class="color {{color.id_for_label}}">
  {{ color }}
  </div>
  {% endfor %}
  </label>
  <label for="{{ form.location.id_for_label }}" class="form-control-label">{{ form.location.label }}
  {{ form.location }}
  </label>
  <div class="form-control-feedback">{{ field.errors }}</div>
</div>

  <div class="form-group">
    <small class="text-muted"> * Arrastra el marcador para indicar la ubicación exacta</small>
    <div id="map" style="height:400px; width:100%;"></div>
    <input type="submit" class="btn btn-primary" value="Siguiente">
    <a href="{% url 'publication-list' %}" class="btn btn-link">Volver sin guardar</a>
  </div>
</form>

{% endblock %}
{% block extra %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
  <script src="{% static 'assets/createPet.js' %}"></script>
{% endblock %}
