{% extends '../__base.html' %}
{% block body %}
<h3>Nombre: {{pet.name}}</h3>
<table>
  <tbody>
    <tr>
      {% if pet.picture %}
      <td rowspan="3"><img src= "/media/{{pet.picture}}" alt="{{ pet.name }}" height="100" width="100"></td>
      {% endif %}
      <td>Tipo de animal: {{ pet.type_animal }}</td>
    </tr>
    <tr>
      <td>Raza: {{ pet.breed }}</td>
    </tr>
    <tr>
      <td>Color: 
        {% for color in pet.color.all %}
        <div class="{{ color.code_color }}"></div>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td colspan="2">{{ pet.description }}</td>
    </tr>
  </tbody>
</table>
<p id="coor">{{ pet.location }}</p>
<div id="map" style="height:400px; width:100%;"></div>

<script>
  var coor = document.getElementById('coor').innerHTML;
  var list_coor = coor.split(',',2);
  function initMap() {
    var uluru = new google.maps.LatLng(list_coor[0],list_coor[1]);
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: uluru,
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map,
      animation: google.maps.Animation.BOUNCE,
    });
  }
</script>
{% endblock %}
{% block extra %}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap"></script>
{% endblock %}
