{% extends '../__base.html' %}
{% block body %}
<h3>{{publication.title}}</h3>
<dl>
    <dt>{{publication.description}}</dt>
      <h3>Nombre: {{publication.pet.name}}</h3>
        <table>
        <tbody>
            <tr>
            {% if publication.pet.picture %}
            <td rowspan="3"><img src= "/media/{{publication.pet.picture}}" alt="Fotografia {{ publication.pet.name }}" height="100" width="100"></td>
            {% endif %}
            <td>Tipo de animal: {{ publication.pet.type_animal }}</td>
            </tr>
            <tr>
            <td>Raza: {{ publication.pet.breed }}</td>
            </tr>
            <tr>
            <td>Color:
                {% for color in publication.pet.color.all %}
                <div class="{{ color }}"></div>
                {% endfor %}
            </td>
            </tr>
            <tr>
            <td colspan="2">{{ publication.pet.description }}</td>
            </tr>
        </tbody>
        </table>
{% endblock %}
