{% extends './__initial.html' %}

{% block main %}
<aside class="col-2">
  {% block menu %}
  <div class="list-group">
  {% for option in menu %}
    {% if option.url %}
    <a href="{{ option.url }}" class="list-group-item {% if option.is_current %}active{% endif %}">{{ option.name }}</a>
    {% else %}
    <a href="#" class="list-group-item {% if option.is_current %}active{% endif %} disabled">{{ option.name }}</a>
    {% endif %}
  {% endfor %}
  </div>
  {% endblock %}
</aside>
<main class="col-8">
  <h1>{{ view.name }}</h1>
  {% block body %}
  {% endblock %}
</main>
<aside class="col-2">
  {% block stadistic %}
  <h3>Nuestros números</h3>
  <p>Mascotas perdidas</p>
  <p>Mascotas encontradas</p>
  <p>Mascotas en casa</p>
  {% endblock stadistic%}
</aside>
{% endblock %}