{% extends './__initial.html' %}

{% block main %}
<aside class="hidden-xs-down col-md-3 col-lg-2">
  {% block menu %}
  <div class="list-group">
  {% for option in menu %}
    {% if option.url %}
    <a href="{{ option.url }}" class="list-group-item {% if option.is_current %}active{% endif %}">{{ option.name }}</a>
    {% else %}
    <a href="#" class="list-group-item {% if option.is_current %}active{% endif %} disabled">{{ option.name }}</a>
    {% endif %}
  {% endfor %}
  </div>
  {% endblock %}
</aside>
<main class="col">
  {% block body %}
  {% endblock %}
</main>
<aside class="col-2">
  {% block stadistic %}
  <div>
  <h5>Mascotas</h5>
  <ul class="list-group">
    <li class="list-group-item justify-content-between">
      <p>Perdidas</p>
      <h3><span class="badge badge-danger badge-pill">{{ pet_lost }}</span></h3>
    </li>
    <li class="list-group-item justify-content-between">
      Encontradas
      <h3><span class="badge badge-warning badge-pill">??</span></h3>
    </li>
    <li class="list-group-item justify-content-between">
      ¡ En casa !
      <h3><span class="badge badge-success badge-pill">???</span></h3>
    </li>
  </ul>
  <h5>Publicaciones</h5>
  <ul class="list-group">
      <li class="list-group-item justify-content-between">
      activas
      <h3><span class="badge badge-warning badge-pill">{{ publi }}</span></h3>
    </li>
    <li class="list-group-item justify-content-between">
      Cerradas
      <h3><span class="badge badge-success badge-pill">??</span></h3>
    </li>
    <li class="list-group-item justify-content-between">
      Totales
      <h3><span class="badge badge-primary badge-pill">???</span></h3>
    </li>
  </ul>
  </div>
  {% endblock stadistic%}
</aside>
{% endblock %}