{% extends './__initial.html' %}

{% block main %}
<aside class="hidden-xs-down col-md-3 col-lg-2">
  {% block menu %}
  <div class="list-group">
  {% for option in menu %}
    {% if option.url %}
    <a href="{{ option.url }}" class="list-group-item {% if option.is_current %}active{% endif %}">{{ option.name }}</a>
    {% else %}
    <a href="#" class="list-group-item {% if option.is_current %}active{% endif %} disabled">{{ option.name }}</a>
    {% endif %}
  {% endfor %}
  </div>
  {% endblock %}
</aside>
<main class="col-8">
  <br>
  <div class="title-box">
    <h1>{{ view.name }}</h1>
  </div>
  <br>
  {% block body %}
  {% endblock %}
</main>
<aside>
  {% block stadistic %}
  <div class="statistics">
  <h3>Nuestros números</h3>
  <p>Mascotas perdidas: {{ pet_lost }}</p>
  <p>Publicaciones activas: {{ publi }}</p>
  <p>Mascotas en casa</p>
  </div>
  {% endblock stadistic%}
</aside>
{% endblock %}