{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PetLost</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/petlost.css' %}">
</head>

<body>
  <header>
    <div class="initial-title text-center">
      <img src= "{% static 'icons/logo_peque.png' alt="Logo" %}" alt="Logo"> 
      <h1 class="initial-text">Lost Pets</h1>
      <small class="initial-text"> different project, for a better life</small>
    </div>
    <nav class="navbar navbar-toggleable-sm">
      <button class="box navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src= "{% static 'icons/logo_peque.png' alt="Logo" %}" alt="Logo" height="30px"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src= "{% static 'icons/logo.png' %}" alt="Logo" height="100">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if request.user.is_authenticated %}
          <a class="nav-item nav-link" href="# account">{{ request.user.username }}</a>
          <a class="nav-item nav-link navbar-toggler-right" href="{% url 'logout' %}">Salir</a>
          {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">Inicia sesión</a>
          <a class="nav-item nav-link justify-content-end" href="/accounts/register/">Regístrate</a>
          {% endif %}
      </div>
    </nav>
  </header>
  <main>
    <div class="fluid-container">
      <div class="row">
        {% block main %}{% endblock %}
      </div>
    </div>
  </main>
  <footer class="bd-footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-4">
          <p>El proyecto</p>
          <div>
            <a href="https://github.com/isGroba/petLost">GitHub</a>
          </div>
        </div>
        <div class="col-4">
          <p>Nuestras herramientas</p>
          <div class="bd-footer-links">
            <a class="espace" href="https://github.com/">GitHub</a>
            <a class="espace" href="https://www.djangoproject.com/">Django</a>
            <a class="espace" href="https://v4-alpha.getbootstrap.com">Bootstrap</a>
            <a href="https://trello.com">Trello</a>
          </div>
        </div>
        <div class="col-4">
          <p>Nosotros</p>
          <div>
            <a class="espace" href="https://github.com/isGroba/">@isGroba</a>
            <a href="https://github.com/benitezdemiguel">@benitezdemiguel</a>
          </div>
        </div>
      </div>
      </br>
      <div class="row">
        <div class="col">
          <small>Diseñado con toda la ilusión y amor del mundo por nuestros 
            <a href="https://github.com/isGroba/petLost/graphs/contributors">contribuidores</a>
            , para ayudar a nuestros queridos animales.
          </small>
          <p><small>PetLost, a different project, for a better life</small></p>
        </div>
      </div>
    </div>
  </footer class="bd-footer">
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  {% block extra %}{% endblock %}
</body>