{% extends '../__base.html' %}

{% block body %}
{{ publication.member.username }}
{{ publication.member.email }}
<form class="custom-form element" action="{% url 'new-email' publication.id %}" method="post" enctype="multipart/form-data">
{% csrf_token %}

<div class="form-group col-2">
  <label for="{{ form.subject.id_for_label }}" class="form-control-label">{{ form.subject.label }}
  {{ form.subject }}
  </label>
  <label for="{{ form.message.id_for_label }}" class="form-control-label">{{ form.message.label }}
  {{ form.message }}
  </label>
  </div>
  <input type="submit" class="btn btn-primary" value="Siguiente">
</form>
{% endblock %}