body {
    background: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #3d3d3d;
}

a{
    text-decoration: none;
}

a:hover{
    color: #043135;
    text-decoration:none;
}

dt{
    font-size : 20px;
}

hr{
    display: block;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 2px;
    background-color: #FBAE07;
}

    /* --- header --- */

.initial-title{
    color:#FBAE07;
    padding: 10px;
}

.initial-text{
    font-family: 'Bernard MT Condensed', 'Open Sans', sans-serif;
    font-weight: bolder;
}

    /* --- footer --- */

footer{
    padding: 20px;
    color: #AF9E9E;
    background: #043135;
}

.text-center{
    text-align: center;
}
.bd-footer-links{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.bd-footer li{
    padding: 0 20 0 0;
    float:left;
}

.bd-footer a {
    color: #FAFAFA;
}

.bd-footer a:hover{
    color: #FBAE07;
}

    /* ---   box   --- */

.fluid-container{
    padding: 30 15 15 15;
}

.padding-title{
    padding: 0 10 0 10;
}

.padding-content{
    padding: 0 20 0 20;
}

input {
    border: 1px solid #B2B2B2;
    border-radius: 0;
    border-radius: 10;
    line-height: 1.25rem;
    font-size: 1rem;
    padding: .5rem;
}

input[type=submit]:hover {
    cursor: pointer !important;
}

.list-group-item{
    background-color:  	#FAFAFA;
    font-weight: bold;
    font-size: 14px;
    border-radius: none;
}

.list-group-item.active{
    background-color:  	#043135;
    border-color: #353535;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 9px 17px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 9px 17px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 9px 20px 0px rgba(50, 50, 50, 0.4);
    background: #FAFAFA;
    border-radius: 40px;
}

/*---- Buttons ----*/

.btn {
    background-color: #FAFAFA;
    color: #043135;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.btn:hover {
    background-color: #043135;
    color: #FAFAFA;
    border-style: solid;
    border-color: #043135;
    cursor: pointer;
}

.btn-link:hover {
    background-color: #9fc6cf;
    color: #FAFAFA;
}

.btn-success {
    background-color: #77c475;
}

.btn-success:hover {
    background-color: #57c154;
}

.btn-warning {
    background-color: #e8ba59;
}

.btn-error,
.btn-danger {
    background-color: #f47b78;
}

.btn-cancel {
    background-color: #ccc;
    color: #3d3d3d;
}


/*---- Nav ----*/

.navbar {
    background-color: #043135;
    font-weight: bold;
}

.navbar a:hover {
    color: #FBAE07;
    text-decoration: underline;
}


.nav-link {
    color: white;
    text-transform: uppercase;
}

.message {
    margin: 30px 0 0 0;
}

.text-left{
    float:left;
    width: 200px;
}
/*------ Colors ------*/

.black, .id_color_0{
    background-color: #000000;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.white, .id_color_1{
    background-color: #FFFFFF;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.brown, .id_color_2{
    background-color: #8B4513;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.red, .id_color_3{
    background-color: #ff0000;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.orange, .id_color_4{
    background-color: #ffa500;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.yellow, .id_color_5{
    background-color: #ffff00;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.gray, .id_color_6{
    background-color: #808080;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.blue, .id_color_7{
    background-color:#0000ff;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}

.green, .id_color_8{
    background-color: #008000;
    width: 50px;
    height:50px;
    border-radius: 20%;
    border-style: solid;
    border-color: #043135;
    margin: 1 1 1 1;
    float:left;
    overflow: hidden;
    color:transparent;
}